// -------------Font Import-------------
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
// font-family: 'Rubik', sans-serif;

// -------------Primary Colors-------------
$white: #ffffff;
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
